/*body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} */
			h1, h2, h3, h4, h5, h6 {color:darkblue;}
			#page { background:#800000;}
			#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
						
			/* Logo */
			#logo { padding:10px; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkblue; text-decoration:none;}
			#logo h1 span { color:#d3d3f9;}

			/* Header */
			#header { background:#eee; }
			#header-inner { border: 1px solid blue; box-sizing: border-box; width:100%;background:#A8A8A8;}
			 
			/* Feature */
			/*.feature { background:#eee;padding:0;}
			.feature-inner { margin:auto;padding:10px;width:100%;background:blue; }
			.feature-inner h1 {color:#d3d3f9;font-size:32px;}
			*/
			/* Menu */
			#top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right;}
			#top-nav ul { list-style:none; padding:0; height:37px; float:left;}
			#top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
			#top-nav ul li a { display:block; margin:0; padding:25px 20px; color:blue; text-decoration:none;}
			#top-nav ul li.active a, #top-nav ul li a:hover { color:#d3d3f9;}
			
			
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}