<div id="page">
            <header id="header">
                <div id="header-inner">
                    <div id="logo">
                        <h1>Angular<span>Project</span></h1>
                    </div>
                    <div id="top-nav">
                        <ul>
                          <li>
                             <a routerLink="home">Home</a>
                          </li>
                        <li>
                           <a routerLink="details">CustomerDetails</a>
                        </li>
                        <li><a routerLink="home">Back</a></li>
                        </ul>
                    </div>
                    <div class="clr"></div>
                </div>
            </header>
        </div>
