<div style="text-align: center; margin-top:50px;">
	<div style="font-weight:bold;font-size:40px;margin-top:50px;">
	<h1>{{title}}</h1>
</div>
<!-- <div style="text-align:justify;"> -->
	<table>
		<tr>
		</tr>
		<tr>
			<td>Id:</td>
			<td><b>{{custID}}</b></td>
		</tr>
		<tr>
			<td>FIRST NAME:</td>
			<td><b>{{firstName | capitalize}}</b></td>
		</tr>
		<tr>
			<td>LAST NAME:</td>
			<td><b>{{lastName| capitalize}}</b></td>
		</tr>
		<tr>
			<td>EMAIL:</td>
			<td><b>{{custEmail}}</b></td>
		</tr>
		<tr>
			<td>IS ACTIVE:</td>
			<td><b>{{custisActive}}</b></td>
		</tr>
		<tr>
			<td>DATE CREATED:</td>
			<td><b>{{custDateCreated}}</b></td>
		</tr>
		<tr>
			<td>DATE UPDATED:</td>
			<td><b>{{custDateUpdated}}</b></td>
		</tr>

</table>
		<!-- <label>ID: 	</label><b>{{custID}} </b><br>
		<label>FIRST NAME: </label><b>{{firstName}}</b><br>
		<label>LAST NAME: </label><b>{{lastName}}</b><br>
		<label>EMAIL: </label><b>{{custEmail}}</b><br>
		<label>IS ACTIVE: </label><b>{{custisActive}}</b><br>
		<label>DATE CREATED: </label><b>{{custDateCreated}}</b><br>
		<label>DATE UPDATED: </label><b>{{custDateUpdated}}</b><br> -->
	<!-- </div> -->
		<div style="margin-top:50px;margin-bottom:100px;">
		<app-star-rating></app-star-rating><br><br>
	</div>
</div>
